<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<!-- Ejemplo usado en el flisol2018 en Loja / autor @reroes -->
<html>
<head>
  <title>Reporte Videogames</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">


  <h2>Consulta sobre ventas de videojuegos</h2>
  <form  action="" method="post" role="form">

    <div class="form-group">
      <label for="primero">Ingrese nombre del videojuego:</label>
      <input type="text" class="form-control" id="primero" name="primero" placeholder="Nombres...">
      <br>
    </div>
    <button type="submit" class="btn btn-success">Consultar</button>
  </form>

  <br>
  <hr/>
  <h2>Listado de coincidencias</h2>
  {% if data %}

  <h4>Número de coincidencias {{numero}}</h4>
  <div>

      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Plataforma</th>
          <th>Año</th>
          <th>Género</th>
          <th>Empresa</th>
          <th>NA_Ventas</th>
          <th>EU_Ventas</th>
          <th>JP_Ventas</th>
          <th>Otras ventas</th>
          <th>Ventas Globales</th>

        </tr>

        {% for d in data %}
        <tr>
          <td>{{d['Name'].decode('utf-8')}}</td>
          <td>{{d['Platform'].decode('utf-8')}}</td>
          <td>{{d['Year'].decode('utf-8')}}</td>
          <td>{{d['Genre'].decode('utf-8')}}</td>
          <td>{{d['Publisher'].decode('utf-8')}}</td>
          <td>{{d['NA_Sales'].decode('utf-8')}}</td>
          <td>{{d['JP_Sales'].decode('utf-8')}}</td>
          <td>{{d['Other_Sales'].decode('utf-8')}}</td>
          <td>{{d['Global_Sales'].decode('utf-8')}}</td>
          


        </tr>

        {% endfor %}
      </table>
  </div>
  {% endif %}
  <div>
    <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
  </div>
</div>
</body>
</html>
